################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/truffle/node_modules
/.vs
/hardhat/node_modules
