<app-user-layout></app-user-layout>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="assets/nft/nft1.png" style="border-radius: 4px;"/>
    </div>
    <div class="col-md-6">
      <h4 class="text-muted my-0 mt-4">Chonga Army</h4>
      <h2 class="mt-0">Space Agent</h2>
      <br />
      <p class="text-muted">
        Space Agent is a part of Space Exploration Squad who looks for inhabitant intruders.
        One of the rarest collectibles in the market.
      </p>
      <br />
      <h4 class="text-success mb-0">Current Price:</h4>
      <h2 class="text-success my-0">
        <i class="fab fa-ethereum"></i> 26.46
      </h2>
      <h4 class="text-danger mt-1">
        Last <i class="fab fa-ethereum"></i> 20.32
      </h4>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary" routerLink="/nft-purchase-success">
              <i class="fas fa-wallet fa-fw"></i>
              Confirm Buy
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-grid gap-2">
            <button class="btn btn-lg btn-secondary">
              <i class="fas fa-tag fa-fw"></i>
              Make an Offer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
