<app-user-layout></app-user-layout>


<div>
    <div class="pl-4 pr-3 pt-3">
      <!-- Demo content -->
      <!--<h3>DApp Administrator Dashboard</h3>-->
      <h1 class="display-4 super-bold big-text-shadow">DApp Administrator Dashboard</h1>
  
      <!--<div class="row">
        <div class="col-md-12">
          <div class="display-chart-1">
            <canvas id="dashboard-chart"></canvas>
          </div>
        </div>
      </div>-->
  
      <div class="row">
        <div class="col-md-4">
  
          <div class="card border-2x mb-3" id="basic-details-2">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="assets/hat.jpeg" class="img-fluid" />
                </div>
                <div class="col-md-8 text-center">
                  <h2 class="mt-3 text-dark-grey">{{token_name}} ({{token_symbol}})</h2>
                  <h6 class="mt-3 text-muted">{{admin_crypto_id}}</h6>
                  <h6 class="mt-3 text-muted">{{totalsupply}} (Total Supply)</h6>
                  <h6 class="mt-3 text-muted">{{decimals}} (Decimals)</h6>
                  <br />
                </div>
              </div>
  
              <div class="row mt-2 text-center text-sm-left">
                <div class="col-md-12">
                  <h3 class="mb-0">{{token_name}} ({{token_symbol}})</h3>
                  <br />
                  <p class="text-muted type-7 mt-0">TOTAL HAT TOKENS : 1000000000000000000000000000</p>
                  <!--<p class="text-muted type-7 mt-0">TOTAL HAT TOKENS  BURNT : {{1000000000000000000000000000-totalsupply}}</p>-->
                  <p class="text-muted type-7 mt-0">DECIMALS: {{decimals}}</p>
                  <p class="text-muted type-7 mt-0">DAPP ADMIN : {{admin_crypto_id}}</p>
  
                  <div class="row mt-4 text-center">
                    <div class="col-md-3 col-sm-3 col-3">
                      <button class="btn btn-primary btn-sm">
                        <i class="fa fa-arrow-down fa-fw"></i>
                      </button>
                      <p class="small text-primary">Receive</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3">
                      <button class="btn btn-primary btn-sm">
                        <i class="fa fa-arrow-up fa-fw"></i>
                      </button>
                      <p class="small text-primary">Send</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3">
                      <button class="btn btn-primary btn-sm">
                        <i class="fa fa-credit-card fa-fw"></i>
                      </button>
                      <p class="small text-primary">Buy</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3">
                      <button class="btn btn-primary btn-sm">
                        <i class="fa fa-exchange-alt fa-fw"></i>
                      </button>
                      <p class="small text-primary">Swap</p>
                    </div>
                  </div>
  
                </div>
                <!--<qrcode [qrdata]="myAngularxQrCode" [width]="340" [errorCorrectionLevel]="'M'"></qrcode>-->
              </div>
  
  
  
  
  
  
  
            </div>
  
  
          </div>
  
        </div>
  
        <div class="col-md-8">
  
  
  
          <div class="card border-2x" id="basic-details-2">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <!--<li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#transactions" role="tab"
                         aria-controls="home" aria-selected="true">
                        <strong>MINT</strong>
                      </a>
                    </li>-->
                    <li class="nav-item">
                        <button class="nav-link active" id="transactions-tab" data-bs-toggle="tab" data-bs-target="#transactions" type="button" role="tab" aria-controls="transactions" aria-selected="true">
                            <strong>AIR DROP / TRANSFER</strong>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="contacts-tab" data-bs-toggle="tab" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">
                            <strong>ADMINISTRATOR</strong>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="loan-tab" data-bs-toggle="tab" data-bs-target="#loan" type="button" role="tab" aria-controls="loan" aria-selected="false">
                            <strong>BURN TOKEN</strong>
                        </button>
                    </li>
                  </ul>
  
                  <div class="tab-content mx-4" id="myTabContent">
                    <!-- <div class="tab-pane fade show active" id="transactions" role="tabpanel" aria-labelledby="transactions-tab"></div>
  
                      <form #mint="ngForm" (ngSubmit)="mintForm(mint)">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Crypto ID Address</label>
                          <input type="text" class="form-control" #mintRef name="minter" ngModel id="exampleInputEmail1" aria-describedby="emailHelp" required />
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Amount</label>
                          <input type="text" class="form-control" id="exampleInputPassword1" #amtxRef name="amtx" ngModel required />
                        </div>
                        <button type="submit" [disabled]="!mint.form.valid" class="btn btn-primary">MINT HAT</button>
                      </form>
                      <hr />
                    </div> -->
                    <div class="tab-pane fade show active" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
                      <form #airdrop="ngForm" (ngSubmit)="submitairdropForm(airdrop)">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Receiver Crypto ID Address</label>
                          <input type="text" class="form-control" #reciverRef name="crypto" ngModel id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">HAT Token Amount</label>
                          <input type="text" class="form-control" #amountRef name="amount" ngModel id="exampleInputPassword1" required>
                        </div>
                        <button type="submit" [disabled]="!airdrop.form.valid" class="btn btn-primary">Transfer Tokens</button>
                      </form>
                    </div>
  
                    <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
                      <form #ChangeDappEmployeeAdminAdmin="ngForm" (ngSubmit)="ChangeDappEmployeeAdminAdminForm(ChangeDappEmployeeAdminAdmin)">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">DAPP Admin ID Address</label>
                          <input type="text" class="form-control" #adminRef name="admin_id" ngModel id="exampleInputEmail1" aria-describedby="emailHelp" required />
                        </div>
  
                        <button type="submit" [disabled]="!ChangeDappEmployeeAdminAdmin.form.valid" class="btn btn-danger">Change Dapp Admin</button>
                      </form>
                    </div>
  
  
                    <div class="tab-pane fade" id="loan" role="tabpanel" aria-labelledby="loan-tab">
                      <form #BurnToken="ngForm" (ngSubmit)="burn(BurnToken)">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">BURN TOKEN AMOUNT</label>
                          <input type="text" class="form-control" #amtRef name="amt" ngModel id="exampleInputEmail1" aria-describedby="emailHelp" required />
                        </div>
  
                        <button type="submit" [disabled]="!BurnToken.form.valid" class="btn btn-danger">Burn Token</button>
                      </form>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>

  
  
  
      <br />
  
      <div class="row py-2">
        <div class="col-md-3 my-3">
          <div class="card border-2x">
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <h5>USERS</h5>
                </div>
                <div class="col-md-7 text-right">
                  <h5 class="text-blue no-td-space">2509873</h5>
                  <h6 class="text-success">+27 <small><i class="fa fa-sort-up"></i></small></h6>
                </div>
              </div>
              <div class="mini-charts">
                <canvas id="mini-chart-1"></canvas>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 my-3">
          <div class="card border-2x">
            <div class="card-body text-center">
              <div class="row">
                <div class="col-md-5">
                  <h5>VISITS</h5>
                </div>
                <div class="col-md-7 text-right">
                  <h5 class="text-blue no-td-space">512</h5>
                  <h6 class="text-success">+11 <small><i class="fa fa-sort-up"></i></small></h6>
                </div>
              </div>
              <div class="mini-charts">
                <canvas id="mini-chart-2"></canvas>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 my-3">
          <div class="card border-2x">
            <div class="card-body text-center">
              <div class="row">
                <div class="col-md-5">
                  <h5>VIEWS</h5>
                </div>
                <div class="col-md-7 text-right">
                  <h5 class="text-blue no-td-space">1624</h5>
                  <h6 class="text-danger">-69 <small><i class="fa fa-sort-down"></i></small></h6>
                </div>
              </div>
              <div class="mini-charts">
                <canvas id="mini-chart-3"></canvas>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 my-3">
          <div class="card border-2x">
            <div class="card-body text-center">
              <div class="row">
                <div class="col-md-5">
                  <h5>STOCKS</h5>
                </div>
                <div class="col-md-7 text-right">
                  <h5 class="text-blue no-td-space">200</h5>
                  <h6 class="text-success">+6 <small><i class="fa fa-sort-up"></i></small></h6>
                </div>
              </div>
              <div class="mini-charts">
                <canvas id="mini-chart-4"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <br />
  
      <div class="row">
        <div class="col-md-12">
          <div class="card border-4x">
            <div class="card-body">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">User Public Crypto Id</th>
                    <th scope="col">Password</th>
                    <th scope="col">Balance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="semi-bold" *ngFor="let user of listuser">
                    <td scope="row">{{user[0]}}</td>
                    <td scope="row">{{user[1]}}</td>
                    <td scope="row">{{user[2]}}</td>
                    <td scope="row">{{user[3]}} HAT</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
        <div class="col-md-12">
          <div class="card border-4x">
            <div class="card-body">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Sender Id</th>
                    <th scope="col">Receiver Id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">TRANSACTION TYPE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="semi-bold" *ngFor="let tran of listtransaction">
                    <td scope="row">{{tran[0]}}</td>
                    <td scope="row">{{tran[1]}}</td>
                    <td scope="row">{{tran[2]}}</td>
                    <td scope="row">{{tran[3]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
  
        </div>
      </div>

  <!-- End demo content -->
